:root {
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.card {
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px;
}
.card__container1 {
    width: 100%;
    height: 415px;
    background-color: var(--Bright-orange);
    border-radius: 10px 10px 0 0;
    padding: 40px;
}

.card__container2 {
    width: 100%;
    height: 415px;
    background-color: var(--Dark-cyan);
    padding: 40px;
}

.card__container3 {
    width: 100%;
    height: 415px;
    background-color: var(--Very-dark-cyan);
    border-radius: 0 0 10px 10px;
    padding: 40px;
}
.card__container1__title {
    font-size: 4rem;
    font-family: 'Big Shoulders Display', cursive;
    color: var(--Very-light-gray);
    text-transform: uppercase;
    margin-top: 30px;
}
.card__container1__text {
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--Transparent-white);
    margin-top: 30px;
}
.card__container1__button {
    border: none;
    width: 150px;
    height: 45px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    border-radius: 30px;
    margin-top: 25px;
    cursor: pointer;
}
.text-button1 {
    color: var(--Bright-orange);
}
.text-button2 {
    color: var(--Dark-cyan);
}
.text-button3 {
    color: var(--Very-dark-cyan);
}

